
/* Estilos generales para resetear márgenes, padding y establecer el modelo de caja */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos para el cuerpo del documento */
body {
    background-color: #202124; /* Color de fondo */
    height: 100vh; /* Altura del cuerpo del documento al 100% del viewport height */
}

/* Estilos para la sección de encabezado */
header {
    display: flex;
    justify-content: end; /* Alineación de los elementos al extremo derecho */
    height: 60px;
    padding: 0 18px;
}

/* Estilos para las opciones de navegación en el encabezado */
header .options {
    display: flex;
    align-items: center;
    gap: 12px; /* El ancho que hay entre las lineas*/
}

header .options a {
    text-decoration: none;
    color: whitesmoke; /* Color del texto */
}

header .options a img {
    border-radius: 50%; /* Bordes redondeados para las imágenes */
    width: 32px;
    height: 32px;
}

/* Estilos para el logo de puntos suspensivos */
.dots-logo {
    display: inline-block;
    background-image: url(dots-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

/* Estilos para el icono de búsqueda */
.search-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(search-logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* Estilos para el icono de cámara */
.camera-logo {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(camera-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Estilos para la sección principal */
main {
    height: calc(100% - 60px - 90px); /* Altura calculada restando el espacio ocupado por el encabezado y el pie de página */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenedor principal */
main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

/* Estilos para la figura que contiene el logotipo de Google */
main .container figure {
    height: 92px;
}

main .container figure img {
    height: 100%;
}

/* Estilos para la barra de búsqueda */
main .container .searcher {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 40px;
    width: 450px;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 24px;
}

main .container .searcher button {
    border: none;
    background-color: transparent;
}

main .container .searcher input {
    width: 100%;
    border: none;
    color: whitesmoke;
    background-color: transparent;
}

/* Estilos para los botones de búsqueda */
main .container .searcher-buttons {
    display: flex;
    gap: 10px;
}

main .container .searcher-buttons button {
    border: none;
    border-radius: 4px;
    background-color: #303134;
    padding: 12px;
    color: whitesmoke;
}

main .container .searcher-buttons button:hover {
    border: 1px solid gray;
}

/* Estilos para el texto en el contenedor principal */
main .container p {
    font-size: small;
    color: #999da2;
}

/* Estilos para los enlaces dentro de un párrafo */
p a {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

/* Estilos para el estado activo de los enlaces dentro de un párrafo */
p a:active {
    border-bottom: 2px solid;
}

/* Estilos para la sección de pie de página */
footer {
    display: flex;
    flex-direction: column;
    height: 90px;
    background-color: #171717; /* Color de fondo del pie de página */
}

/* Estilos para las secciones del pie de página */
footer section {
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 50%;
    color: #999da2; 
}

/* Estilos para la sección de información adicional en el pie de página */
footer section.more-info {
    border-top: #3b3b3b solid 1px; /* Borde superior con color */
    display: flex;
    justify-content: space-between;
}

footer section.more-info div {
    display: flex;
    gap: 18px;
}

footer section.more-info div a {
    color: #999da2; /* Color de los enlaces en la sección de información adicional */
    text-decoration: none;
}


